html
    head
     //- bower:css
     link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
     link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
     //- endbower
     //- bower:js
     script(src='/lib/jquery/dist/jquery.js')
     script(src='/lib/bootstrap/dist/js/bootstrap.js')
     //- endbower
     
     //- inject:js
     //- endinject
     //- inject:css
     link(rel="stylesheet", href="/css/styles.css")
     //- endinject
        title MyApp
    body(class='myClass')
        h1(id="myId") Hello there
        ul
          each val in list
            li=val
     