<html>

<head>
  <title> My Title {{title}} </title>
</head>

<body>
  <h1>Hello from handlebars! || {{title}} </h1>
  <ul>
    {{#each list}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
</body>

</html>
